In [1]:
import pandas as pd

Leitura padrão do pandas

In [3]:
planilha = pd.read_excel('arquivo.xlsx')

display(planilha)

    Vendedor  Vendas
0     Daniel     625
1       João     594
2    Natália     650
3   Henrique     862
4       Lira     452
5      Paula     139
6      Paulo     175
7   Gabriela     293
8      Kicia     529
9      Diego     507
10      Alon     705

Lendo uma planilha("aba")